@import '../../constants/index.scss';

#skills > h3 {
    color: $text-secondary-color;
    padding-bottom: 20px;
}

.skills-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    
}
