@import '../../constants/index.scss';

.header-wrapper {    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; 
    min-height: 100px;
    padding: 0 5vw;    
}

.header-links > a {  
    font-size: larger;  
    padding: 0 25px;
    transition: 0.4s linear; 
}

.header-links > a:hover {  
    color: $text-secondary-color;
    cursor: pointer; 
}
