@import '../../constants/index.scss';

.header-wrapper {    
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; 
    min-height: 100px;
    padding: 0 5vw;    
}

.header-burger {  
   display: none;
}

.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 48px;    
}

.bm-burger-bars {
    background: #ffffff;
    border-radius: 10px;    
}

.bm-burger-bars-hover {
    background: #ffffff;
}

.bm-cross-button {
    height: 34px !important;
    width: 34px !important;
    top: 48px !important;
    right: 45px !important;
}

.bm-cross {
    background: #dbe2e6;
    height: 44px !important;
    width: 44px !important;
    width: 5px !important;
    height: 30px !important;
}  


.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

.bm-menu {
    background: $bg-color;
    padding: 5em 1.5em 0;
    font-size: 1.15em;
    right: calc(50% - 226px/2);
}

.bm-morph-shape {
    fill: $bg-color;
}

.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

.bm-item {
    display: block;
    font-size: 30px;
    color: #d1d1d1;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none;
    transition: color 0.2s;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
}

.bm-item:hover {
    color: #ffffff;
}

.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 770px) {
	.header-links {  
        display: none;
    }

    .header-burger {  
        display: block;
    }
}

@media screen and (max-width: 450px) {
    .bm-burger-button {
        width: 26px;
        height: 20px;          
    }
}
