@import "./constants/index.scss";

header {   
  min-height: 100px;   
  background-color: $bg-color;
}

main {
  background-color: $bg-color;
  min-height: calc(100vh - 100px - 70px); 
  padding: 50px 0;
}

footer {
  min-height: 70px;  
  background-color: $bg-color;  
}
