@import "./constants/index.scss";

header {   
  position: sticky;
  min-height: 100px;
  width: 100vw;
  background-color: $bg-color;
}

main {
  background-color: $bg-color;
  min-height: calc(100vh - 100px - 70px); 
  width: 100vw;   
}

footer {
  min-height: 70px;
  width: 100vw;
  background-color: $bg-color;  
}
